---
import { cn } from "@/lib/utils"
import LogoMark from "@/components/icons/LogoMark.astro"

import { ThemeToggle } from "./theme-toggle"

export interface Props {
  class?: string
}

const props = Astro.props
---

<footer class={cn(props.class)}>
  <div
    class="flex flex-col items-center justify-between gap-4 py-10 md:h-24 md:flex-row md:py-0"
  >
    <div class="flex flex-col items-center gap-4 md:flex-row md:gap-2">
      <a href="/">
        <LogoMark />
      </a>
      <p class="text-center text-sm leading-loose md:text-left">
        Stworzone z ❤️ przez{" "}
        <a
          href="https://github.com/oreqr"
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          OreQr
        </a>
        .
      </p>
    </div>
    <ThemeToggle client:load />
  </div>
</footer>
