---
import "@/styles/globals.css"
import "@fontsource-variable/inter"
import "@fontsource-variable/jetbrains-mono"

import { SEO, type SEOProps } from "astro-seo"

import { siteConfig } from "@/config/site"
import Footer from "@/components/Footer.astro"
import Header from "@/components/Header.astro"
import { TailwindIndicator } from "@/components/tailwind-indicator"

export interface Props {
  metadata?: SEOProps
}

const { metadata } = Astro.props
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme")
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light"
  }
  const isDark = getThemePreference() === "dark"
  document.documentElement.classList[isDark ? "add" : "remove"]("dark")

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark")
      localStorage.setItem("theme", isDark ? "dark" : "light")
    })
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    })
  }
</script>

<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/favicon-16x16.png" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={siteConfig.title}
      description={siteConfig.description}
      {...metadata}
    />
  </head>
  <body class="min-h-screen bg-background font-sans antialiased">
    <div class="mx-auto flex min-h-screen max-w-2xl flex-col px-4">
      <Header />
      <div class="flex-1 py-6"><slot /></div>
      <Footer class="border-t" />
    </div>
    <TailwindIndicator />
  </body>
</html>
